{% extends 'stepwisemain/base.html' %}

{% load django_vite %}

{% block title %}Stepwise - Play {{ universe.name }}{% endblock %}

{% block content %}
<h1 style="position: relative; z-index: 5;">{{ universe.name }} by <a href="{% url 'stepwisemain:profile' universe.owner.pk %}">{{ universe.owner.username }}</a></h1>
{% for copiedunv in universe.copy_of.all %}
    <p style="position: relative; z-index: 5;">Copied from {{ copiedunv.name }} 
        by <a href="{% url 'stepwisemain:useruniverses' copiedunv.owner.pk %}">{{ copiedunv.owner.username }}</a></p>
{% endfor %}

<canvas class="map" style="position: fixed; top:0px; left:0px;"></canvas>

<div class="nodes">
    {% for level in universe.level_set.all %}
        <input type="hidden"
            value="{{ level.coord }}"
            name="level{{ level.pk }}"
            data-id="{{ level.pk }}"
            data-name="{{ level.name }}"
            data-color="{{ level.color }}"
            data-complete="{% if level.pk in levels_complete %}true{% elif level.pk in unlocked %}unlocked{% else %}false{% endif %}"
            data-link="{% if user.is_authenticated %}{% url 'stepwisemain:playlevel' game_state.pk level.pk %}{% else %}{% url 'stepwisemain:playlevelsignedout' universe.pk level.pk %}{% endif %}">
    {% endfor %}
</div>

<input type="hidden" name="edges" value="{{ universe.edges }}">


{% if user.is_authenticated %}
    <a class="button" href="{% url 'stepwisemain:usergames' user.pk %}" style="position: fixed; top:5px; right:5px; z-index: 5;">Back</a>
    <a class="button{% if is_liked %} green{% endif %}" href="{% url 'stepwisemain:likegame' game_state.pk %}"
    style="position: fixed; top:35px; right:5px; z-index: 5;">{% if is_liked %}Liked{% else %}Like{% endif %}</a>
{% else %}
    <a class="button" href="{% url 'stepwisemain:index' %}" style="position: fixed; top:5px; right:5px; z-index: 5;">Back</a>
{% endif %}

{% vite_asset 'front-end/js/ui/world_map.js' %}
{% endblock %}